<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Data para o desenvolvimento urbano sustentável - Estimativa de poluição do ar</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

</head>

<body>
    <div id="title">
        <div lang="es">
            <h1 class="center">Big Data para el desarrollo urbano sostenible</h1>
            <h2 class="center"><small>Estimación de la contaminación del aire</small></h2>
        </div>
        <div lang="pt">
            <h1 class="center">Big Data para o desenvolvimento urbano sustentável</h1>
            <h2 class="center"><small>Estimativa de poluição do ar</small></h2>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            {% for (normalized, upper) in cities %}
            <a class="button {{'button-primary' if current == normalized else ''}}" href="{{normalized}}.html">{{upper}}</a> {% endfor %}
        </div>
        {% if current != 'index' %}
        <div class="grid">
            {% for t in times %}
            {% if t %}
            <a class="button {{'button-primary' if current_time == t else ''}}" href="{{current}}_{{t}}.html">
            {{time_format(t)}}
            </a> 
            {%endif%}{% endfor %}
        </div>
        {% endif %}

        {% if current_time %}
        {% for (normalized, upper) in cities %} {% if normalized != 'index' and (current == 'index' or current == normalized) %}
        <article>
            <h3>{{upper}}</h3>
            <iframe src="maps/{{normalized}}_{{current_time}}.html" frameborder="0"></iframe>
        </article>
        {% endif %} {% endfor %}
        {%else%}
            <h5><span lang="es">Elige una de las opciones anteriores</span><br><span lang="es">Escolha uma das opções acima</span></h5>
        {%endif%}
    </div>

</body>

</html>