<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Cities - Predicting Pollution from Waze Data</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

</head>

<body>
    <div id="title">
        <h1 class="center">Smart Cities</h1>
        <h2 class="center"><small>Predicting Pollution from Waze Data</small></h2>
    </div>
    <div class="container">
        <div class="grid">
            {% for (normalized, upper) in cities %}
            <a class="button {{'button-primary' if current == normalized else ''}}" href="{{normalized}}.html">{{upper}}</a> {% endfor %}
        </div>
        {% if current != 'index' %}
        <div class="grid">
            {% for t in times %}
            {% if t %}
            <a class="button {{'button-primary' if current_time == t else ''}}" href="{{current}}_{{t}}.html">
            {{time_format(t)}}
            </a> 
            {%endif%}{% endfor %}
        </div>
        {% endif %}

        {% if current_time %}
        {% for (normalized, upper) in cities %} {% if normalized != 'index' and (current == 'index' or current == normalized) %}
        <article>
            <h3>{{upper}}</h3>
            <iframe src="maps/{{normalized}}_{{current_time}}.html" frameborder="0"></iframe>
        </article>
        {% endif %} {% endfor %}
        {%else%}
            <h5>Please choose from the options above</h5>
        {%endif%}
    </div>

</body>

</html>